.row.well
  .col-md-8
    %form.form{:action => "/create", :method => "POST", :enctype => "multipart/form-data"}

      .form-group
        %label{:for => "title"} Title:
        %input.form-control{:type => "text", :name => "ad[title]", :id => "title"}/

      .form-group
        %label{:for => "width"} Width:
        %input.form-control{:type => "text", :name => "ad[width]", :id => "width"}/

      .form-group
        %label{:for => "height"} Height:
        %input.form-control{:type => "text", :name => "ad[height]", :id => "height"}/

      .form-group
        %label{:for => "filename"} Filename:
        %input.form-control{:type => "text", :name => "ad[filename]", :id => "filename"}/

      .form-group
        %label{:for => "url"} URL:
        %input.form-control{:type => "text", :name => "ad[url]", :id => "url"}/

      .form-group
        %label{:for => "content"} Content:
        %textarea.form-control{:name => "ad[content]", :id => "content", :rows => "3"}

      .form-group
        %label{:for => "image"} Image:
        %input{:type => "file", :name => "image", :id => "image"}/

      .form-group
        %input{:type => "submit", :value => "Create Ad", :class => "btn btn-success"}/