body { margin: 40px; font: 16px/18px helvetica; }
#debug { font-size: 11px; color: #999; margin-top: 50px; }
header { text-align: center; }
#main { margin: 75px; }
input { width: 500px; height: 30px; margin-bottom: 20px; }